  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Fake Agency. All rights reserved.</p>
      <p>Developed by Easin Arafat. 2025</p>
      <p>Contact: info@fakeagency.com | Phone: (555) 123-4567</p>
    </div>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>

